<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemorySimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E710CBCA1D8B230A00F8F735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E710CBE11D8B230B00F8F735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E710CBEC1D8B230B00F8F735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
